<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title">Alert</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Message</p>
    </div>
    <div class="modal-footer">
        <div class="col-xs-9 col-sm-9 col-md-9">&nbsp;</div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            <button type="button" class="btn btn-primary" (click)="c('Confirm')">OK</button>
        </div>

    </div>
</ng-template>