<div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="no()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{{ options.title}}</h4>
</div>
<div class="modal-body">
    <p>{{ options.message }}</p>
</div>
<div class="modal-footer">
    <div *ngIf="options.type==='Confirm'">
        <button type="button" class="btn btn-primary pull-right" (click)="yes()">Yes</button>
    </div>
    <div>
        <button type="button" class="btn btn-warning pull-left" (click)="no()">Cancel</button>
    </div>
</div>