<div align="center" *ngIf="!createFlag">
  <i class="fa fa-pencil pointer" (click)="open(content)" aria-hidden="true"></i>
</div>
<button *ngIf="createFlag" type="button" (click)="open(content)" class="btn btn-primary" style="cursor:pointer">Create</button>

<ng-template #content let-c="close" let-d="dismiss">
  <form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" *ngIf="createFlag">Insert vending machine</h4>
      <h4 class="modal-title" *ngIf="!createFlag">Edit vending machine</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <!-- machines -->
      <div class="row">
        <div class="form-group col-4">
          <label for="machineNice">N-ICE:</label>
        </div>
        <div class="form-group col-8">
          <input type="text" disabled="disabled" lass="form-control" [(ngModel)]="model.machineId" name="number" [minLength]="1"
            [maxLength]="2">
        </div>
      </div>
      <div class="row">
        <div class="form-group col-4">
          <label for="machineNice">Status:</label>
        </div>
        <div class="form-group col-8">
          <multiselect [dropdownList]="statusList" (selectedOptions)="niceMachineId"></multiselect>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-4">
          <label for="machineNice">Cell. number:</label>
        </div>
        <div class="form-group col-8">
          <input type="text" class="form-control" [(ngModel)]="model.machineCurrentNumber" name="cellNumber"
            [maxLength]="10" [minLength]="10">
        </div>
      </div>
    </div>
    
    <div class="modal-footer">
      <div class="col-xs-3 col-sm-3 col-md-3">
        <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancel</button>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6">&nbsp;</div>
      <div class="col-xs-3 col-sm-3 col-md-3">
        <button type="submit" class="btn btn-primary" (click)="c('Confirm')">Confirm</button>
      </div>

    </div>
  </form>
</ng-template>