.reset-btn {
    cursor: pointer;
    width: 80%;
    height: 25px;
    line-height: 10px;
    color: white;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-size: 18px;
    background-color: #2EB5E5;
}
.btn-primary{
    background-color: #2EB5E5;
}
.pointer {
    cursor:pointer
}