<!--<ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
    <ngb-panel [disabled]="true">
     
            <ng-template ngbPanelTitle>
                <span class="navigator-title">&#9733; <b>N-ICE</b>  &#9733;</span>
            </ng-template>
            <ng-template ngbPanelContent>
            </ng-template>
    </ngb-panel>
</ngb-accordion>-->
<div class="card">
    <div class="card-block">
        <span class="navigator-title">
            <img class="img" src="../../../../images/logo.jpg"/>
        </span>
    </div>
</div>