<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12">
            &nbsp;
        </div>
    </div>
    <ngb-tabset>
        <ngb-tab title="Online reading">
            <ng-template ngbTabContent>
                <div class="col-xs-12 col-md-12 col-sm-12">
                    &nbsp;
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <total-income-view></total-income-view>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <ag-grid></ag-grid>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
        <ngb-tab title="Report">
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <report></report>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>
      <!-- <ngb-tab>
            <ng-template ngbTabTitle>
                <div>Vending machines</div>
            </ng-template>
            <ng-template ngbTabContent>
                <div class="row">
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <vending-machine></vending-machine>
                    </div>
                </div>
            </ng-template>
        </ngb-tab>-->
    </ngb-tabset>

</div>