<div>&nbsp;</div>
<div class="row">
    <div class="form-group col-4">
        <label for="machineNice">N-ICE:</label>
    </div>
    <div class="form-group col-4">
        <multiselect [dropdownList]="machineList" (selectedOptions)="model.machineIds = $event"></multiselect>
    </div>
</div>
<div class="row">
    <div class="form-group col-4">
        <label for="machineNice">Status:</label>
    </div>
    <div class="form-group col-4">
        <multiselect [dropdownList]="statusList" (selectedOptions)="model.status = $event"></multiselect>
    </div>
    <div class="form-group col-4">
        <button type="button" (click)="find()" class="btn btn-primary" style="cursor:pointer">Find</button>
    </div>
</div>